.Tabela{
    font: 14px Verdana;
    margin-left: 35%;
    margin-top: 150px;
    
}
.despesasCasal{
    font: 14px Verdana;
    margin-left: 25%;
}
table tr td{
    width: 140px;
}

body {
    font-family: 'Spline Sans', sans-serif;
    background: #F3F3F3;
    font-size: 14px;
    padding top: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
footer{
    text-align: center;
}
.botao-enviar:hover {
    background-color: #F44336;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #E7E7E7;
    transition:all 0.3s;
